body{
    background-color: rgb(101, 101, 103);
    
}

h1{
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 500%;
    
}
































